/* Hamburger menu */
.navbar-toggler {
  border: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon {
  border: 0;
  outline: none;
  box-shadow: none;
}
.toggler-icon {
  width: 30px;
  height: 3px;
  display: block;
  background-color: rgb(44, 44, 230);
  transition: all 0.4s;
}
.middle-bar {
  margin: 5px auto;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
